/* nav */
a {
    display: inline-block;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

#nav-item--logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 40px;
    margin-top: 20px;
}

.nav-admin-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 90px;
}

.nav-admin-item {
    padding: 15px 20px;
    padding-right: 50px;
    max-width: 240px;
    color: #202224;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header-admin {
    padding: 16px 0px;
    padding-left: 250px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-left--icon {
}

.header-left--find {
    position: relative;
}

.header-left--find-icon {
    position: absolute;
    top: 12px;
    left: 12px;
}

.header-left--find--input {
    border-radius: 19px;
    border: 0.6px solid #d5d5d5;
    background: #f5f6fa;
    width: 388px;
    height: 38px;
    flex-shrink: 0;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.header-right--nofi {
}

.header-right--nofi--ico {
}

.header-right--nofi--text {
}

.header-right--profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-right--profile-avatar {
}

.header-right--profile-info {
}

.header-right--profile--title {
}

.header-right--profile--desc {
}

.more-profile {
}

/* user table */
.user--table {
    margin-top: 15px;
    margin-left: 180px; /* Cách lề bên trái 200px */
    margin-right: 50px; /* Cách lề bên phải 50px */
    overflow-x: auto; /* Cho phép cuộn ngang khi bảng vượt quá kích thước */
    width: calc(
        100% - 230px
    ); /* Chiều rộng của .user--table sẽ chiếm hết phần còn lại của màn hình sau khi trừ đi 200px ở bên trái và 50px ở bên phải */
    background-color: #fff;
    padding: 15px;
}

.custom-table {
    width: 100%; /* Bảng tự động mở rộng để lấp đầy phần còn lại của .user--table */
    border-collapse: collapse;
}

.table-head {
    background-color: #f2f2f2;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.table-row:hover {
    background-color: #ddd;
}

.table-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Đảm bảo text không bị ngắt dòng */
}

.edit-btn,
.delete-btn {
    /* CSS cho các nút Edit và Delete */
    text-decoration: none;
    color: #333;
    margin-right: 5px;
}

.edit-btn:hover,
.delete-btn:hover {
    color: #f00;
}
